$primary: #61A3FF;

body {
  padding: 40px 60px;
  font-family: "omnes-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $primary;
}

a, a:link, a:visited {
  color: $primary;
  text-decoration: none;
}

.sidebar {
  float: left;
  width: 220px;
}

.content {
  float: left;
  width: 600px;
  margin: 13px 0 0 0;
  .text {
    clear: both;
    color: #555;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 300;
  }

  .title {
    color: #61A3FF;
    font-size: 4em;
    margin: 0 0 20px 0;
    font-weight: 200;
    line-height: 1.05em;
  }
  .quote {
    position: relative;
    &:before {
      content: "“";
      position: absolute;
      left: -20px;
    }
  }
  img {
    width: 100%;
  }
}

.logo {
  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 4em;
    float: left;
    color: $primary;
    opacity: 1;
    -webkit-transition: all .05s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

.menu {
  display: none;
  position: absolute;
  left: 69px;
  top: 129px;
  a {
    clear: left;
    float: left;
    display: block;
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    background: #fff;
    &:hover {
      background: #eee;
    }
  }
}

