<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8">
    <title>
      {{site.title}} | {{title}} 
      {% if type == "archive" %}
        Archive
      {% endif %}
    </title>
    
    <link rel="stylesheet" href="/style/css/style.css" media="all">
    
    <script src="/scripts/avenir.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/scripts/nav.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1;">
    <link rel="icon shortcut" href="/assets/favicon.png">
      
    
  </head>
  <body class="{% if type == 'page' %}{{current.title | downcase}}{% elsif type == 'post' %}{{parent.title | downcase }}{% endif %}">

  <div class="site-card">
    <nav>
      <h1 class="masthead"><a href="#">Kilmc</a></h1>
      {% for page in site.pages %}
        <a class="nav-item" href="{{page.url}}"{% if page.url == url %} class="selected"{% endif %}>
          {{page.title}}
        </a>
      {% endfor %}
    </nav>