<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>
      {% if home? %}
        Kilmc
      {% else %}
        {{site.title}} | {{title}}
      {% endif %}
      {% if type == "archive" %}
        Archive
      {% endif %}
    </title>

    <link rel="stylesheet" href="/style/css/style.css" media="all">

    <script src="/scripts/avenir.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/scripts/nav.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1;">
    {% include 'includes/favicon' %}


  </head>
  <body class="{% if type == 'page' %}{{current.title | downcase}}{% elsif type == 'post' %}{{parent.title | downcase }}{% endif %}">

  <div class="site-card">
    <nav>
      <h1 class="masthead"><a href="/">Kilmc</a></h1>
      <a class="nav-item" href="/"{% if page.url == url %} class="selected"{% endif %}>
        Writing
      </a>
      <a class="nav-item" href="/music/the-best-boys"{% if page.url == url %} class="selected"{% endif %}>
        Music
      </a>
      <a class="nav-item" href="/about"{% if page.url == url %} class="selected"{% endif %}>
        About
      </a>
    </nav>
