{% comment %} Writing Post {% endcomment %}
{% include 'includes/header' %}

<div class="site-card">
  <section class="main">
    {% if type == 'post' %}
      {% assign post = current %}
      <article>
        {% for asset in post.assets %}
          {% if asset.type == 'image' %}
            <img src="{{asset.url}}" class="collection-image">
          {% endif %}
        {% endfor %}
        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
        
        <div class="photo-description">
          {{post.body}}
        </div>
        
      </article>
    {% endif %}
  </section>
</div>
    
{% include 'includes/footer' %}