<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1;">
  <title>Kilmc | Portfolio</title>
  <link rel="stylesheet" href="/style/css/portfolio.css" media="all">
  <script src="/scripts/avenir.js"></script>
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="/scripts/jquery.event.move.js"></script>
  <script src="/scripts/jquery.event.swipe.js"></script>
  <script src="/scripts/unslider.min.js"></script>
  <script src="/scripts/portfolio.js"></script>
  <link href="/fonts/ss-standard/ss-standard.css" rel="stylesheet">
</head>
<body>
  <section class="top">
    <div class="inner">
      <h1 class="title">Kilian McMahon</h1>
      <p class="sub-title">Frontend Portfolio</p>
    </div>
  </section>

  {% for section in pages %}
    <section class="{{section.slug}}">
      <div class="inner">
        <h2 class="title">{{section.title}}</h2>
        {{section.body}}
      </div>
      {% if section.meta['links']? %}
        <div class="links">
          <h3>Links:</h3>
          {{ section.meta['links'] | markdown }}
        </div>
      {% endif %}
      <div class="{{section.slug}}-slides">
        <ul>
          {% for slide in section.assets %}
            <li><img src="{{slide.url}}"></li>
          {% endfor %}
        </ul>
      </div>
      <div class="arrow-wrap">
        <a class="{{section.slug}}-arrow prev ss-navigateleft"><b>Previous slide</b></a>
        <a class="{{section.slug}}-arrow next ss-navigateright"><b>Next slide</b></a>
      </div>
    </section>
  {% endfor %}

  <section class="contact">
    <div class="inner">
      <h2>Contact</h2>
      <p>
        If you'd like to get in touch with me, please send an email to work@kilmc.com or call me on +353 86 080 9196
      </p>
      <h3>Experience With</h3>
      <p>
        Twitter Bootstrap, 
        Thoughtbot's Bourbon, 
        Wordpress, 
        Tumblr, 
      </p>
      <h3>Familiar With</h3>
      <p>
        Ruby on Rails,
        PHP,
      </p>
    </div>
  </section>
</body>
</html>