/* line 3, ../sass/style.scss */
html, body {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/style.scss */
body {
  font-size: 20px;
  font-family: "chaparral-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  background: url(../images/clean_textile.png);
  color: #363134;
}

/* line 18, ../sass/style.scss */
a, a:link, a:visited {
  text-decoration: none;
  font-weight: 600;
  color: #1C191B;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

/* line 25, ../sass/style.scss */
a:hover, a:active {
  color: #D85547;
}

/* line 29, ../sass/style.scss */
.top-nav a[href^="http"]:hover {
  background-color: #ACF1DD;
  color: #72AA9A;
}

/* line 35, ../sass/style.scss */
a[href^="http"]:hover {
  color: #ACF1DD;
}

/* line 40, ../sass/style.scss */
header {
  width: 610px;
  z-index: 10;
  margin: 20px auto 0;
  text-align: center;
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 1024px) {
  /* line 40, ../sass/style.scss */
  header {
    width: 900px;
  }
}
@media screen and (max-width: 640px) {
  /* line 40, ../sass/style.scss */
  header {
    width: 94%;
    padding: 20px 0 2px 0;
  }
}

/* line 55, ../sass/style.scss */
.top-nav {
  width: 540px;
  border-top: 1px solid #E4E4E4;
  height: 24px;
  margin: 20px auto;
  padding: 0 0 0 10px;
}
@media screen and (min-width: 1024px) {
  /* line 55, ../sass/style.scss */
  .top-nav {
    width: 830px;
  }
}
@media screen and (max-width: 640px) {
  /* line 55, ../sass/style.scss */
  .top-nav {
    width: 80%;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  /* line 55, ../sass/style.scss */
  .top-nav {
    margin: 20px auto 0;
    padding: 10px 0 16px;
  }
}
/* line 72, ../sass/style.scss */
.top-nav li {
  padding: 18px 0 0 0;
  margin: 0;
  width: 33%;
  float: left;
  box-sizing: border-box;
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  /* line 72, ../sass/style.scss */
  .top-nav li {
    clear: left;
    width: 94%;
    padding: 10px 0 0 0;
  }
}
/* line 85, ../sass/style.scss */
.top-nav a, .top-nav a:link, .top-nav a:visited {
  font-family: "proxima-nova",sans-serif;
  text-transform: uppercase;
  font-size: .7em;
  color: #363134;
  letter-spacing: .2em;
  text-decoration: none;
  display: block;
  margin: -2px auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 80%;
  font-weight: normal;
}
/* line 99, ../sass/style.scss */
.top-nav a:hover, .top-nav a:focus, .top-nav a:active {
  background: #D85547;
  color: #fff;
}

/* line 106, ../sass/style.scss */
.logo {
  background: url(../images/kilmc-logo.png) no-repeat center;
  width: 235px;
  height: 50px;
  background-size: 100%;
  margin: 10px auto 35px;
  padding: 0;
  display: block;
}
@media screen and (max-width: 640px) {
  /* line 106, ../sass/style.scss */
  .logo {
    margin: 0 auto;
  }
}

/* line 122, ../sass/style.scss */
.container {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
}
@media screen and (max-width: 640px) {
  /* line 126, ../sass/style.scss */
  .container h1 {
    margin: 0 auto;
  }
}

/* line 132, ../sass/style.scss */
.post-wrap, .project-wrap {
  width: 610px;
  margin: 20px auto;
  padding: 0 45px 30px 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  /* line 132, ../sass/style.scss */
  .post-wrap, .project-wrap {
    width: 900px;
  }
}
@media screen and (max-width: 640px) {
  /* line 132, ../sass/style.scss */
  .post-wrap, .project-wrap {
    width: 94%;
    padding: 0 10px 30px 10px;
  }
}
/* line 144, ../sass/style.scss */
.post-wrap p, .project-wrap p {
  font-size: 1em;
  line-height: 29px;
  width: 520px;
  margin: 29px auto;
}
@media screen and (min-width: 1024px) {
  /* line 144, ../sass/style.scss */
  .post-wrap p, .project-wrap p {
    width: 750px;
    line-height: 30px;
  }
}
@media screen and (max-width: 640px) {
  /* line 144, ../sass/style.scss */
  .post-wrap p, .project-wrap p {
    width: 94%;
    line-height: 22px;
    margin: 23px auto;
    font-size: 0.95em;
  }
}
/* line 160, ../sass/style.scss */
.post-wrap h2, .project-wrap h2 {
  width: 520px;
  margin: 0 auto 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}
@media screen and (min-width: 1024px) {
  /* line 160, ../sass/style.scss */
  .post-wrap h2, .project-wrap h2 {
    width: 750px;
  }
}
@media screen and (max-width: 640px) {
  /* line 160, ../sass/style.scss */
  .post-wrap h2, .project-wrap h2 {
    width: 94%;
  }
}
/* line 172, ../sass/style.scss */
.post-wrap h2.title, .project-wrap h2.title {
  padding-top: 30px;
}
/* line 176, ../sass/style.scss */
.post-wrap .post-info, .project-wrap .post-info {
  font-size: 0.9em;
  margin: -27px auto 0;
  display: block;
  text-transform: uppercase;
  font-size: 0.7em;
  font-family: "proxima-nova",sans-serif;
  font-style: italic;
  font-weight: 400;
  width: 520px;
}
@media screen and (min-width: 1024px) {
  /* line 176, ../sass/style.scss */
  .post-wrap .post-info, .project-wrap .post-info {
    width: 750px;
  }
}
@media screen and (max-width: 640px) {
  /* line 176, ../sass/style.scss */
  .post-wrap .post-info, .project-wrap .post-info {
    width: 94%;
  }
}
/* line 193, ../sass/style.scss */
.post-wrap img, .project-wrap img {
  width: 610px;
  display: block;
  margin: 0 0 10px -45px;
}
@media screen and (min-width: 1024px) {
  /* line 193, ../sass/style.scss */
  .post-wrap img, .project-wrap img {
    width: 900px;
  }
}
@media screen and (max-width: 640px) {
  /* line 193, ../sass/style.scss */
  .post-wrap img, .project-wrap img {
    width: 106%;
    margin-left: -3%;
  }
}
/* line 205, ../sass/style.scss */
.post-wrap .image-caption, .project-wrap .image-caption {
  font-size: .7em;
  margin: 0px auto 0;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
}
@media screen and (max-width: 640px) {
  /* line 205, ../sass/style.scss */
  .post-wrap .image-caption, .project-wrap .image-caption {
    font-size: 0.65em;
  }
}
/* line 216, ../sass/style.scss */
.post-wrap .image-caption:before, .project-wrap .image-caption:before {
  content: "\2020";
  font-style: normal;
  margin: 0 6px 0 0;
  display: inline-block;
}

/* line 225, ../sass/style.scss */
blockquote {
  font-style: italic;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px 0 0px;
  line-height: 27px;
  width: 440px;
}
@media screen and (min-width: 1024px) {
  /* line 225, ../sass/style.scss */
  blockquote {
    width: 670px;
    padding-left: 20px;
    line-height: 29px;
  }
}
@media screen and (max-width: 640px) {
  /* line 225, ../sass/style.scss */
  blockquote {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    line-height: 24px;
  }
}
/* line 242, ../sass/style.scss */
blockquote:before {
  content: "\201C";
  font-size: 3em;
  margin: 0 0 0 -24px;
  top: 26px;
  left: -12px;
  position: relative;
  color: #E4E4E4;
}
@media screen and (max-width: 640px) {
  /* line 242, ../sass/style.scss */
  blockquote:before {
    margin: 0 0 0 0;
    top: 26px;
    left: -4px;
  }
}
/* line 256, ../sass/style.scss */
blockquote:after {
  content: "\201D";
  font-size: 3em;
  line-height: 0;
  margin: 0 0 0 -4px;
  top: 26px;
  left: 6px;
  position: relative;
  color: #E4E4E4;
}
@media screen and (max-width: 640px) {
  /* line 256, ../sass/style.scss */
  blockquote:after {
    left: 0px;
  }
}

/* line 274, ../sass/style.scss */
.project-tags {
  height: 30px;
  margin: -24px 0 0 0;
  padding: 0;
}

/* line 281, ../sass/style.scss */
.project-tag {
  list-style: none;
  float: left;
  display: block;
}
/* line 285, ../sass/style.scss */
.project-tag a {
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 0.2em;
  color: #363134;
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 0px 0 0;
  padding: 0 6px 4px 8px;
  display: block;
  height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 299, ../sass/style.scss */
.project-tag a:hover {
  background: #D85547;
  color: #fff;
}

/* line 314, ../sass/style.scss */
.ir {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 321, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 322, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 323, ../sass/style.scss */
.clearfix {
  zoom: 1;
}
