/* 
  Colour variants are set per section of the site.

  To define a colour pallette for a section simply define the following
  information in the colour-variation include:

    - Section name (i.e. writing/design/photography etc.)
    - Base Colour in Hex Value
    - Percentage value to lighten the base colour by

    @include colour-variation(design, #999, 20%);

  You additionally have the option to alter the background colour
  name, hex value and the percentage value for how much lighter you want the.

*/

@mixin colour-variation($class, $main-colour, $lighten-percentage: 60%, $bg-colour: #fff) {
  body.#{$class} {
    color: $main-colour;
    background-color: $bg-colour;

    a, a:link, a:visited {
      color: $main-colour;
    }

    .site-nav .logo,
    header {
      border-bottom-color: $main-colour;
    }

    .text a:hover, 
    .text a:focus, 
    .text a:active,
    .site-nav .logo:hover, 
    .site-nav .logo:focus, 
    .site-nav .logo:active,
    .site-page-list a:hover,
    .site-page-list a:focus,
    .site-page-list a:active,
    .site-header a:hover,
    .site-header a:focus,
    .site-header a:active,
    .site-footer a:hover,
    .site-footer a:focus,
    .site-footer a:active  {
      border-bottom-color: lighten($main-colour, $lighten-percentage);
    }

    .site-page-list a,
    .site-footer a {
      border-bottom-color: transparent;
    }
  }
}

// @include colour-variation(writing, #2F3440, 40%);
// @include colour-variation(about, #2F3440, 40%);
// @include colour-variation(photography, #2F3440, 40%);
// @include colour-variation(music, #3A55A5, 45%);
// @include colour-variation(photography, #D31914, 45%);
// @include colour-variation(obsessions, #FED24A, 20%, #1B1C1B);





