/* Mixins & Variables
================================ */

// Colours
$c-background:        #fff;
$c-main:              lighten(#000, 22%);
$c-main-alt:          lighten($c-main, 60%);

// Type

$f-avenir:            "Avenir LT W01 45 Book";
$f-avenir-bold:       "Avenir LT W01 85 Heavy";
$font-size:         1.3rem;
$leading:           1.85rem;

// Media Query Sizes
$small:             540px;
$medium:            980px;

@mixin hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


// TRANSITIONS

@mixin fade {
  @include transition (all 0.15s ease-in-out);
}

@mixin fast-fade {
  @include transition (all 0.05s ease-in-out);
}


@font-face{
  font-family:"Avenir LT W01 45 Book";
  src:url("/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix");
  src:url("/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"),url("/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),url("/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),url("/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
}
@font-face{
  font-family:"Avenir LT W01 85 Heavy";
  src:url("/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
  src:url("/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"),url("/fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),url("/fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),url("/fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
}
@font-face{
  font-family:"AvenirLTW01-85HeavyObli";
  src:url("/fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?#iefix");
  src:url("/fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?#iefix") format("eot"),url("/fonts/53554f6f-4b01-4815-87fe-82c49b8ba5a9.woff") format("woff"),url("/fonts/28dfedaf-6372-45a1-8833-b3078dc56a21.ttf") format("truetype"),url("/fonts/f747b6ee-4d13-4e45-815d-f33ac1b71d63.svg#f747b6ee-4d13-4e45-815d-f33ac1b71d63") format("svg");
}

