// Breaks

$nav-b1: 860px
$nav-b2: 1080px

$nav-push-medium:       (0rem + $measure-b1 + $measure-b1/3)
$nav-push-large:        (9rem + $measure-b2 + $measure-b2/3)

nav
  position: absolute
  bottom: 2rem
  @include text-large($nav-b1, $nav-b2)

  @include from(650px)
    bottom: 4rem
  @include from($nav-b1)
    width: 20rem
    position: fixed
    top: 4rem
    width: 20rem
    left: $nav-push-medium
  @include from($nav-b2)
    left: $nav-push-large - 8rem
    top: 9rem
  @include from(1200px)
    left: $nav-push-large

  a
    opacity: 0.2
    &:hover
      opacity: 1
  h1
    font-family: $avenir-bold

.nav-item 
  float: left
  display: block
  margin-right: 1rem
  margin-top: 1rem

  @include from($nav-b1)
    width: 100%
    margin-bottom: 1rem
    float: left
    margin-top: 0

    &:first-of-type 
      margin-top: 2.4rem



.obsessions,
.home
  nav 
    display: none