.photo
  @include style(width, $measure-b0, $measure-b1, $measure-b2)
  @include style(margin-bottom, $leading-small-b0*2, $leading-small-b1*3, $leading-small-b2*3)

  img 
    width: 100%
    margin-bottom: $leading-small-b0
    @include from($text-b1)
      margin-bottom: $leading-small-b1
    @include from($text-b2)
      margin-bottom: $leading-small-b2
  h2
    @include text-small