@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'reset';

// Font Face
// ---------------------------------------------------------

@font-face{
  font-family:"Avenir LT W01 45 Book";
  src:url("/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix");
  src:url("/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"),url("/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),url("/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),url("/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
}
@font-face{
  font-family:"Avenir LT W01 85 Heavy";
  src:url("/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
  src:url("/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"),url("/fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),url("/fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),url("/fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
}
@font-face{
  font-family:"AvenirLTW01-85HeavyObli";
  src:url("/fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?#iefix");
  src:url("/fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?#iefix") format("eot"),url("/fonts/53554f6f-4b01-4815-87fe-82c49b8ba5a9.woff") format("woff"),url("/fonts/28dfedaf-6372-45a1-8833-b3078dc56a21.ttf") format("truetype"),url("/fonts/f747b6ee-4d13-4e45-815d-f33ac1b71d63.svg#f747b6ee-4d13-4e45-815d-f33ac1b71d63") format("svg");
}


// Helpers & Mixins
// ---------------------------------------------------------

// Colours
$c-tito:                    #68A6C2;
$c-ull:                     #EC5D60;
$c-hundred:                 #000;
$c-personal:                #4B5264;
$c-battlequotes:            #55AE97;

// Type
$f-avenir:                  "Avenir LT W01 45 Book";
$f-avenir-bold:             "Avenir LT W01 85 Heavy";
$tz-body:                   2.2rem;
$tl-body:                   3rem;

$tz-s-body:                 2rem;
$tl-s-body:                 2.6rem;

// Breakpoints
$bp-large:                  910px;
$bp-medium:                 700px;


@mixin fast-fade {
  @include transition (all 0.05s ease-in-out);
}


// Base
// ---------------------------------------------------------

html, 
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #fff;
  font-family: $f-avenir;
  font-size: $tz-s-body;
  line-height: $tl-s-body;
  @media only screen and (min-width: $bp-large) {
    font-size: $tz-body;
    line-height: $tl-body;
  }
  @media only screen and (min-width: $bp-large) {
    font-size: $tz-body;
    line-height: $tl-body;
  }
}


// Main Sections
// ---------------------------------------------------------

section {
  padding-bottom: 6rem;
  position: relative;
}

.inner {
  width: 100%;
  padding: 6rem 1rem 0;
  margin: 0 auto 4rem;

  @media only screen and (min-width: $bp-medium) {
    padding-top: 6rem;
    width: 60rem;
  }

  @media only screen and (min-width: $bp-large) {
    padding-top: 6rem;
    width: 80rem;
  }

  h2 {
    font-family: $f-avenir-bold;
    font-size: 3rem;
    
    @media only screen and (min-width: $bp-large) {
      font-size: 4rem;
      margin-bottom: $tl-body;
    }
  }
}

.top {
  color: #000;
  height: 20rem;
  .inner {

  }
}

.title, .sub-title {
  font-size: 3rem;
  @media only screen and (min-width: $bp-large) {
    font-size: 4rem;
  }
}

.title {
  margin-bottom: $tl-body/2;
  font-family: $f-avenir-bold;
}

.tito {
  background: $c-tito;
}

.ull {
  background: $c-ull;
}

.hundred {
  background: $c-hundred;
}

.personal {
  background: $c-personal;
}

.battlequotes {
  background: $c-battlequotes;
}

.contact {
  color: #000;
}

.tito-slides,
.ull-slides,
.hundred-slides,
.personal-slides,
.battlequotes-slides { 
  position: relative; 
  overflow: auto; 
  height: 100% !important;
  padding-bottom: 4rem;

  @media only screen and (min-width: $bp-large) {
    height: 100% !important;

  }

  img {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: block;
    @media only screen and (min-width: $bp-medium) {
      width: 60rem;
    }
    @media only screen and (min-width: $bp-large) {
      width: 80rem;
    }
  }

  ul {
    height: 100% !important;
    @include clearfix;
  }

  ul li { 
    float: left; 
    list-style: none;

  }

  ol {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include clearfix;
  }

  ol li { 
    text-align: center;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    @include hide-text;
    display: inline-block;
    &.active {
      background: #fff;
    }
  }
}

.tito-arrow,
.ull-arrow,
.hundred-arrow,
.personal-arrow,
.battlequotes-arrow, {
  position: absolute;
  display: none;
  @media only screen and (min-width: $bp-medium) {
    display: block;
  }

  b {
    @include hide-text;
  }
  
  &.prev,
  &.next {
    
    @media only screen and (min-width: $bp-medium) {
      top: -20rem;
    }

    @media only screen and (min-width: $bp-large) {
      top: -26rem;
    }
  }

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }
}

.arrow-wrap {
  width: 96%;
  margin: 0 auto;
  display: block;
  position: relative;

  @media only screen and (min-width: $bp-medium) {
    width: 70rem;
  }

  @media only screen and (min-width: $bp-large) {
    width: 90rem;
  }
}

.links {
  padding: 0 1rem;
  margin: $tl-body auto $tl-body;
  @include clearfix;

  h3 {
    font-family: $f-avenir-bold;
    float: left;
    margin-right: 1rem;
    width: 100%;
    @media only screen and (min-width: $bp-medium) {
      width: auto;
    }

  }

  ul {
    @include clearfix;
  }
  
  ul li {
    float: left;
    margin-right: 1rem;
    &:not(:last-of-type) {
      &:after {
        content: ","

      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  @media only screen and (min-width: $bp-medium) {
    width: 60rem;
  }

  @media only screen and (min-width: $bp-large) {
    width: 80rem;
  }
}



