@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'reset';
@import 'helpers';

/* BASE
================================ */

html {
  height: 100%;
}

body {
  font-family: $f-avenir;
  color: $c-main;
  font-size: 13px;
}

a, a:link, a:visited {
  color: $c-main;
  cursor: pointer;
  text-decoration: none;
  font-family: $f-avenir-bold;
}


/* TEXT
================================ */

// Use the class text on any container specifically for textual content

.text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $font-size;
  }

  h2 {
    font-family: $f-avenir-bold;
    margin: $leading auto;
    line-height: $leading;
    &:first-of-type {
      margin-top: 0;
    }
    .writing & {
      margin: $leading/2 0;
    }
  }

  h3 {
    margin: $leading/2 0;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  p {
    font-size: $font-size;
    line-height: $leading;
    margin-bottom: $leading;
  }

  a:hover, a:focus, a:active {
    border-bottom: 3px solid $c-main-alt;
    padding-bottom: 1px;
  }

  ul {
    margin: $leading 0;
  }

  li {
    font-size: $font-size;
    margin: $leading/2 0;
  }

  hr {
    border: none;
    height: 1px;
    background: $c-main-alt;
    margin: $leading 0;
  }

  i {
    display: none;
  }
}

/* LAYOUT
================================ */

.site-wrap {
  margin: 1rem auto 6rem;
  @include clearfix;
  position: relative;
  width: 95%;

  @media only screen and (min-width: $medium) {
    margin-top: 4rem;
    width: 59.45rem;
    .writing &, .about & {
      width: 42rem;
    }
  }
}

.site-nav {
  display: block;
  margin-bottom: 1rem;
  width: 100px;

  @media only screen and (min-width: $medium) {

    .writing &, .about & {
      left: -140px;
      position: absolute;
    }
  }
}

.site-nav .logo {
  border-bottom: 6px solid $c-main;
  display: block;
  font-size: $font-size;
  padding-bottom: $leading/2;
  width: 100%;
  letter-spacing: 0.1rem;

  &:hover, &:focus, &:active {
    border-bottom: 6px solid $c-main-alt;
  }
}

.site-page-list {
  display: none;
  margin-top: 1rem;
  @media only screen and (min-width: $medium) {
    margin-top: $leading*2;
  }
}

.site-page-list a {
  font-size: $font-size;
  line-height: $leading*2;
  margin-bottom: $leading/2;
  border-bottom: 3px solid #fff;
  display: inline-block;
  font-size: $font-size*2;
  
  &:hover, &:focus, &:active {
    border-bottom: 3px solid $c-main-alt;
  }
}

.site-header {
  border-bottom: 6px solid $c-main;
  height: 42px;
  @include clearfix;
  a {
    float: left;
    color: $c-main;
    font-size: $font-size;
    font-family: $f-avenir-bold;
    padding-bottom: $leading/2;
    margin-right: 1rem;
    position: relative;
  }
  a:hover, a:focus, a:active {
    border-bottom: 6px solid $c-main-alt;
  }
}

.site-footer {
  border-top: 3px solid $c-main-alt;
  @include clearfix;
  font-size: $font-size;
  margin-bottom: $leading;
  padding-top: $leading;
  font-size: 1.2em;
  text-transform: uppercase;

  .contact {
    float: right;
    text-align: right;
    clear: both;
  }

  a {
    float: left;
    margin-bottom: $leading/2;
    border-bottom: 3px solid $c-background;
    margin-right: 1rem;
    &:hover, &:focus, &:active {
      border-bottom: 3px solid $c-main-alt;
    }
  }
  .easter-egg {
    display: block;
    float: right;
    width: 25px;
    height: 25px;
    background: url("/assets/smile-white.svg");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: -10px 0 0 0;
    
    &:hover {
      background: url("/assets/smile.svg");
      -webkit-background-size: 100%;
      background-size: 100%;
      border: none;
    }
  }
}

// Writing

.content-wrap {
  margin-top: $leading*2;
  img {
    max-width: 100%;
  }
}

.post {
  margin-bottom: $leading*2;
}

.post-info {
  margin: 0 auto $leading;
  p {
    margin: 0 auto;
  }

  ul {
    @include clearfix;
  }

  li {
    font-size: $font-size;
    float: left;
    &:after {
      content: ", ";
    }
    &:last-of-type:after {
      content: "";
    }
  }
}

// Archive

.archive-year {
  margin-bottom: $leading;
  .archive-year-title {
    margin-bottom: $leading/2;
  }
  h2 {
    margin: $leading/4 auto;
  }
}

// Collections 

.collection-image {
  width: 100%;
  margin-bottom: $leading;
}

// About

.content-wrap {

}

.about-intro {
  font-family: $f-avenir;
  font-size: $font-size;
  line-height: $leading;
}

// Photography

.photography {
  .text h2 {
    text-align: center;
  }
  .text a {
    font-family: $f-avenir;
  }
}

.photo-description {
  text-align: center;
}

@import 'colours';


.about {
  // background: rgba(56,140,189,1);
  // background: -moz-linear-gradient(-45deg, rgba(56,140,189,1) 0%, rgba(255,150,171,1) 100%);
  // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(56,140,189,1)), color-stop(100%, rgba(255,150,171,1)));
  // background: -webkit-linear-gradient(-45deg, rgba(56,140,189,1) 0%, rgba(255,150,171,1) 100%);
  // background: -o-linear-gradient(-45deg, rgba(56,140,189,1) 0%, rgba(255,150,171,1) 100%);
  // background: -ms-linear-gradient(-45deg, rgba(56,140,189,1) 0%, rgba(255,150,171,1) 100%);
  // background: linear-gradient(135deg, rgba(56,140,189,1) 0%, rgba(255,150,171,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#388cbd', endColorstr='#ff96ab', GradientType=1 );
  // background-attachment: fixed;
}

/* STATES
================================ */

.in-transition {
  position: absolute;
}

