* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Avenir LT W01 45 Book";
  src: url("/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix");
  src: url("/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot");
  src: url("/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff");
  src: url("/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
  src: url("/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"); }
@font-face {
  font-family: "Avenir LT W01 85 Heavy";
  src: url("/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
  src: url("/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot");
  src: url("/fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff");
  src: url("/fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
  src: url("/fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"); }
@font-face {
  font-family: "Avenir LT W01 45 Book Oblique";
  src: url("/fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix");
  src: url("/fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix") format("eot");
  src: url("/fonts/ca94ed56-18fc-4856-940a-70a072607c7c.woff") format("woff");
  src: url("/fonts/c7f424be-90e1-45b8-b617-ee3589a859bd.svg#c7f424be-90e1-45b8-b617-ee3589a859bd") format("svg");
  src: url("/fonts/dd6da407-70fe-4aa3-a1c7-64f0cb086f01.ttf") format("truetype"); }
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  position: relative;
  border-top: 0.4rem solid #f09095;
  border-bottom: 0.4rem solid #e74c55;
  min-height: 100%; }
  html:before, html:after {
    content: "";
    position: absolute; }
  html:before {
    top: -0.4rem;
    left: -0.4rem;
    bottom: -0.4rem;
    right: -0.4rem;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f09095), to(#e74c55));
    background-image: -webkit-linear-gradient(#f09095, #e74c55);
    background-image: -moz-linear-gradient(#f09095, #e74c55);
    background-image: -o-linear-gradient(#f09095, #e74c55);
    z-index: -2; }
  html:after {
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff; }
  @media screen and (min-width: 650px) {
    html {
      margin-left: 1rem;
      margin-right: 1rem;
      position: relative;
      border-top: 1rem solid #f09095;
      border-bottom: 1rem solid #e74c55; }
      html:before, html:after {
        content: "";
        position: absolute; }
      html:before {
        top: -1rem;
        left: -1rem;
        bottom: -1rem;
        right: -1rem;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f09095), to(#e74c55));
        background-image: -webkit-linear-gradient(#f09095, #e74c55);
        background-image: -moz-linear-gradient(#f09095, #e74c55);
        background-image: -o-linear-gradient(#f09095, #e74c55);
        z-index: -2; }
      html:after {
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff; } }

body {
  font-family: "Avenir LT W01 45 Book";
  font-size: 62.5%;
  color: #e74c55; }

.wrapper {
  max-width: 60rem;
  margin: 3rem 2.5% 2.5%; }
  @media screen and (min-width: 650px) {
    .wrapper {
      margin: 5rem;
      margin-bottom: 2rem; } }
  @media screen and (min-width: 1000px) {
    .wrapper {
      margin: 10rem;
      margin-bottom: 2rem; } }

section h1, section h2, section h3 {
  margin: 0;
  font-weight: normal;
  font-family: "Avenir LT W01 85 Heavy"; }
section h1, section h2, section h3, section p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 650px) {
    section h1, section h2, section h3, section p {
      margin-bottom: 2.1rem; } }
section p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 0 1.5rem 0; }
  @media screen and (min-width: 650px) {
    section p {
      font-size: 1.5rem;
      line-height: 2.1rem;
      margin: 0 0 2.1rem 0; } }

.small {
  margin: 0 0 2.1rem 0;
  font-size: 1.1rem;
  font-family: "Avenir LT W01 45 Book Oblique"; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: rgba(255, 255, 255, 0.7); }

@media screen and (min-width: 650px) {
  .hello {
    width: 40%;
    margin-right: 10%;
    float: left; } }
.hello p {
  font-family: "Avenir LT W01 45 Book Oblique"; }

@media screen and (min-width: 650px) {
  .song {
    width: 50%;
    float: left; } }

.song__button {
  background: #f09095;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  display: block;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 4.2rem; }
  @media screen and (min-width: 650px) {
    .song__button {
      font-size: 1.2rem;
      border-radius: 8px;
      padding: 1rem 3rem; } }
  .song__button:hover {
    color: #fff;
    background: #e74c55; }
