@charset "UTF-8";
/* line 3, ../sass/style.scss */
body {
  padding: 40px 60px;
  font-family: "omnes-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #61a3ff;
}

/* line 11, ../sass/style.scss */
a, a:link, a:visited {
  color: #61a3ff;
  text-decoration: none;
}

/* line 16, ../sass/style.scss */
.sidebar {
  float: left;
  width: 220px;
}

/* line 21, ../sass/style.scss */
.content {
  float: left;
  width: 600px;
  margin: 13px 0 0 0;
}
/* line 25, ../sass/style.scss */
.content .text {
  clear: both;
  color: #555;
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: 300;
}
/* line 33, ../sass/style.scss */
.content .title {
  color: #61A3FF;
  font-size: 4em;
  margin: 0 0 20px 0;
  font-weight: 200;
  line-height: 1.05em;
}
/* line 40, ../sass/style.scss */
.content .quote {
  position: relative;
}
/* line 42, ../sass/style.scss */
.content .quote:before {
  content: "“";
  position: absolute;
  left: -20px;
}
/* line 48, ../sass/style.scss */
.content img {
  width: 100%;
}

/* line 54, ../sass/style.scss */
.logo h1 {
  margin: 0;
  font-weight: 500;
  font-size: 4em;
  float: left;
  color: #61a3ff;
  opacity: 1;
  -webkit-transition: all 0.05s ease-in-out;
}
/* line 62, ../sass/style.scss */
.logo h1:hover {
  opacity: 0.5;
}

/* line 68, ../sass/style.scss */
.menu {
  display: none;
  position: absolute;
  left: 69px;
  top: 129px;
}
/* line 73, ../sass/style.scss */
.menu a {
  clear: left;
  float: left;
  display: block;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  background: #fff;
}
/* line 82, ../sass/style.scss */
.menu a:hover {
  background: #eee;
}
